*{
  margin: 0;

}
.App {
  text-align: center;
  background-color: rgb(159, 189, 204);
}

.Alarm{
  background-color: darkgoldenrod;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid white;
  width:40vh;
  height : 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.Alarms{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
